<%-- 
Document   : menu
Created on : Sep 9, 2018, 4:56:14 PM
Author     : andromeda
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">
        <title>CDL - Agenda</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
            #grad1 {
                height: 120px;
                background-color: #2a57b8; /* For browsers that do not support gradients */
                background-image: linear-gradient(to right, #2a57b8 , #3999d4); /* Standard syntax (must be last) */
            }
            .center {
                margin: auto;

                padding: 110px;
            }
            .vl {
                border-left: 3px solid white;
                height: 100%;
                position: absolute;
                margin-left: -3px;
                margin-right: 3px;
                top: 0;
            }
        </style>
    </head>
    <body style="background: #eaeaea">
        <div style="background: #3f454f; height: 80px">
            <img src="Icones/Logomarca.png" style="position: relative;top: 15px;left: 70px; width: 60px" width="50px" height="50px"/>
            <div style="position: relative; left: 75%; top: -15px">

                <h6 id="status" style="color: white">|  User: xxxxxxxx</h6>
            </div>
        </div>
        <div id="grad1">
            <h2 style="color: white;text-align: center;
                vertical-align: middle;
                line-height: 120px;" >AGENDA</h2>
        </div>
        <div style="width: 70%;" class="center">
            <div class="text-center">
                <a href="/WSCDL/"><img src="Icones/Icones_Agenda_03.png"/></a>
                <a disabled href=""><img src="Icones/Icones_Agenda_05.png"/></a>
                
            </div>
            <hr>
            <div class="text-center">
                <a href="contato"><img src="Icones/Icones_Agenda_07.png"></a>
                 <a disabled href=""><img src="Icones/Icones_Agenda_09.png"/></a>
            </div>
            <hr>
            <div class="text-center">
               
                <a disabled href=""><img src="Icones/Icones_Agenda_11.png"/></a>
                <a disabled href=""><img src="Icones/Icones_Agenda_13.png"></a>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="offcanvas.js"></script>
        <script>
            function update() {
                var d = new Date;
                document.getElementById("status").innerHTML = ("00" + (d.getMonth() + 1)).slice(-2) + "/" +
                        ("00" + d.getDate()).slice(-2) + "/" +
                        d.getFullYear() + " " +
                        ("00" + d.getHours()).slice(-2) + ":" +
                        ("00" + d.getMinutes()).slice(-2) + ":" +
                        ("00" + d.getSeconds()).slice(-2) +
                        "    |  Usuario: " + "${User}";
                setTimeout(update, 1000);
            }
            $(function () {
                update();
            });
            window.addEventListener('load', function () {

            }, false);
        </script>
    </body>
</html>
