/*
Template Name: simple-plain-login
File Name: style.css
Author Name: ThemeVault
Author URI: http://www.themevault.net/
Licence URI: http://www.themevault.net/license/
*/

html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'PT Sans', sans-serif !important;
    margin: 0;
    padding: 40px 0;
    font-size:100%;
    letter-spacing: 1px; 
}
textarea:focus, input:focus, select:focus, select:active{
    outline: none;
    box-shadow:none;
}
.form-control:focus {
    box-shadow: none;
    outline: 0 none;
}
a{
    text-decoration: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {outline: none;}
a,h1,h2,h3,h4,h5{cursor: pointer;}
a:focus, a:hover{text-decoration: none;}
a:focus {outline: none; outline-offset: 0;}
ul{list-style: none;}
.placeholder-fix:focus::-webkit-input-placeholder  {color:transparent !important; }
.placeholder-fix:focus::-moz-placeholder   {color:transparent !important;}
.placeholder-fix:-moz-placeholder   {color:transparent !important;}
.logo h2 {
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom:40px;
    color: #fff;
}
.content{
    background-color:#1e3953;
    text-align: center;
}
.login-page {
    background-color: #fff;
    box-shadow: 0 0 20px 10px rgba(38, 50, 56, 0.08);
    margin: 0 auto;
    width:460px;   
}
.login-page h3 {
    background-color: #88bb39;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 30px;
    text-align: left;
    text-transform: capitalize;
}
.login-page .form-control {
    background-color: #f0eef0 !important;
    background-image: none;
    border: 1px solid #88bb39;
    border-radius: 5px;
    color: #1e3953;
    display: block;
    font-size: 14px;
    height: 35px;
    letter-spacing: 1px;
    margin: 0 auto 15px;
    padding: 6px 10px;
    width: 300px;
    font-weight: 600;
}
.action-button button{
    width:300px;
    margin: 0 auto;
}
button {
    background: rgb(136, 187, 57) none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    padding: 8px 20px;
}
.input-value input:first-child{
    background: url(../images/user.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
}

.input-value input:last-child{
    background: url(../images/psw.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
}
form {
    padding: 50px 0 20px;
}
.form-control::-moz-placeholder {
    color: #1e3953;
    font-weight: 600;
    opacity: 1;
}
.form-control::-webkit-input-placeholder{
    color: #1e3953;
    font-weight: 600;
    opacity: 1;
}
.input-value {
    padding: 0px 0 10px;
}
.page-links {
    padding: 0;
    text-align: center;
    padding: 20px 0;
}
.page-links li{
    display: inline-block;
}
.page-links a {
    color: rgb(30,57,83);
    font-size: 16px;
    font-weight: 600;
} 
.social-icon{
    margin: 50px 0;
}
.social-icon a{
    margin-right: 5px;      
}
.copyright {
    color: #fff;
    font-size: 16px;
}
.copyright a, .copyright a:hover{
    color:#88bb39;
    text-decoration: none;
}

/*media query*/
@media (max-width: 700px){
    .login-page .form-control {
        font-size: 13px;
        height: 30px;
        width: 250px;
    }
    .login-page {
        width: 400px;
    }
    .login-page h3 {
        font-size: 18px;
        padding: 20px;
    }
    .action-button button {
        margin: 0 auto;
        width: 250px;
    }
    form {
        padding: 30px 0 1px;
    }
    .logo h2 {
        padding-bottom: 20px;
    }
    .social-icon {
        margin: 40px 0;
    }
    button{
        font-size: 15px;
    }
    .page-links a {
        font-size: 14px;
    }
    .page-links {
        padding: 10px 0;
    }
}
@media (max-width: 370px){
    .login-page {
        width: 280px;
    }
    .login-page .form-control {
        font-size: 12px;
        height: 25px;
        width: 200px;
        margin: 0 auto 10px;
    }
    .action-button button {
        margin: 0 auto;
        width: 200px;
    }
    .page-links a {
        font-size: 13px;
    }
    button {
        font-size: 14px;
        padding: 8px;
    }
    .page-links {
    padding: 0;
}
}